<div class="row">
  <div class="col-sm-2">&nbsp;</div>
</div>

  <div class="form-group row hide" style="display: none">
    <label class="col-sm-2 col-form-label">Task Id:</label>
    <div class="col-sm-5">
      <input [(ngModel)]="addTask.TaskId" type="text" class="form-control" id="name" name="ddTask.TaskId">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Task</label>
    <div class="col-sm-5">
      <input [(ngModel)]="addTask.Name" type="text" class="form-control" id="name" name="addTask.Name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Priority</label>
    <div class="col-sm-5">
      <ng5-slider [(value)]="addTask.Priority" [options]="options" name="Priority"></ng5-slider>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Parent Task</label>
    <div class="col-sm-5">
        <select [(ngModel)]="addTask.ParentId" class="form-control" id="name" name="addTask.ParentId">
            <option selected="" value=""></option>
            <option [ngValue]="pt.ParentId" *ngFor="let pt of availableParentTasks">
              {{pt.ParentTaskName}}
            </option>
          </select>
      <!-- <ng-select [items]="defaultBindingsList" [(ngModel)]="addTask.ParentId" name="addTask.ParentId">
      </ng-select> -->
    </div>    
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-5">
        
      <input type="date"  [ngModel] ="start | date:'yyyy-MM-dd'" (ngModelChange)="start = $event" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">End Date</label>
    <div class="col-sm-5">
      <input type="date"[ngModel] ="end | date:'yyyy-MM-dd'" (ngModelChange)="end = $event"  class="form-control" placeholder="End Date" name="end">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
      <button type="submit" class="btn btn-primary" (click)="saveTask()">{{addTaskButtonName}}</button>
      <button type="button" class="btn btn-warning">Resset</button>
    </div>
  </div>
